{% extends 'layout.html' %}

{% block body %}
<!-- <div class="jumbotron text.center">
	<h1>{{ text }} COVID-19 Statistics: </h1>
	<p>Cases: {{ data[0] }}<br/>
		Deaths: {{ data[1] }}
</p> -->




<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4">{{ text }} COVID-19 Statistics</h1>
		  <hr class="my-4">
		  <p>Cases: {{ data[0] }}<br/>
				Deaths: {{ data[1] }}</p>
		  <a class="btn btn-primary btn-md" href="/covidupdates" role="button">Back</a>
		</div>
</div>

{% endblock %}
