

<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
  		<title>Self Test</title>
  		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	<body>
		{% include 'include/_navbar.html' %}
			<nav class="navbar navbar-dark">
			  <form class="form-inline">
			  </form>
			</nav>




		<div class="container">
			<div class="jumbotron">
			  <h1 class="display-4">COVID-19 Self-Test</h1>
			  <p class="lead">COVID-19 affects different people in different ways. Infected people have had a wide range of symptoms reported – from mild symptoms to severe illness.</p>
			  <hr class="my-4">
			  <p>Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:</p>
				<ul>
					<li>Fever or chills</li>
					<li>Cough</li>
					<li>Shortness of breath or difficulty breathing</li>
					<li>Fatigue</li>
					<li>Muscle or Body Aches</li>
					<li>Headache</li>
					<li>New Loss of Taste or smell</li>
					<li>Sore throat</li>
					<li>Congestion or runny nose</li>
					<li>Nausea or vomiting</li>
					<li>Diarrhea</li>
				</ul>
				<hr class="my-4">
				<p>Look for emergency warning signs for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately:</p>
				<ul>
					<li>Trouble breathing</li>
					<li>Persistent pain or pressure in the chest</li>
					<li>New confusion</li>
					<li>Inability to wake or stay awake</li>
					<li>Blush lips or face</li>
				</ul>
				<br>
				<p>Call your medical provider for any other symptoms that are severe or concerning to you.</p>
			  <a class="btn btn-primary btn-lg" href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" role="button">Learn more on cdc.gov</a>
			</div>

		</div>

	</body>
</html>
